@model IEnumerable<Order_Food_Online.Areas.Resturant.Models.Items>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resturants)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resturants.RestLocation)
            </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Resturants.RestName)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemsId">Delete</a>|
                <a asp-action="Resto" asp-route-id="@item.ResturantId">Resto</a>

            </td>
        </tr>
}
    </tbody>
</table>
