@model IEnumerable<Order_Food_Online.Areas.Resturant.Models.Items>
@{
    ViewData["Title"] = "Resto";
}
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<h1>Resto</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resturants)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
  
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resturants.RestLocation)
            </td>
              <td>
                Quantity  <input name="quantityInput" id="quantityInput_@item.ItemsId" type="number" />
                      

              <button onclick="addToDictionary(@item.ItemsId, $('#quantityInput_@item.ItemsId').val())">Add ID 1 to Dictionary</button>
              </td>
        

        </tr>
}
    </tbody>
</table>

<button> </button>


<script>

function addToDictionary(ItemsId,quantity) {
    $.ajax({
        url: '@Url.Action("AddToDictionary", "Home")',
        type: 'POST',
        data: { ItemsId: ItemsId,quantity:quantity},
        success: function (result) {
            alert('ID added to dictionary!'+ItemsId+""+quantity);
        },
        error: function () {
            alert('Error adding ID to dictionary.');
        }
    });
}
</script>

    
